name: 04 - Using Actions

on: 
  push:
    paths:
      - ".github/workflows/04-using-actions.yaml"


jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Printing Folders
        runs: ls 
